body {
  border: 0;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  font-family: Georgia,"Bitstream Charter",serif;
  color: #666;
  font-size: 12px;
  vertical-align: baseline;
}

#box {
  background: #F3E2A9;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

/* Style the header */
#header, #main {
  background: #F3E2A9;
  padding: 0;
  display: block;
  float: left;
}
#branding {
  margin: 0 auto;
  width: 100%;
}

#site-title {
  color: black;
  font-size: 18px;
  font-weight: bold;
  float: left;
  width: 60%;
  padding-left: 5%;
}

#site-description {
  font-size: 11px;
  -webkit-text-size-adjust: none;
  clear: right;
  float: right;
  padding-right: 5%;
  font-style: italic;
  width: 18%;
  margin-top: 20px;
}
#branding img {
  border-top: 4px solid #000;
  border-bottom: 1px solid #000;
  width: 90%;
  height: auto;
}
img.center {
    display: block;
    margin: 0 auto;
}
img.portrait {

}
/* Style the columns */
#main{
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
  float: left;
  display: table; /* Make the container element behave like a table */
}
#main .col {
  display: table-cell;
}
#column1 {
  float: left;
  padding: 0 3%;
  text-align: justify;
  width: 20%; /* For desktop: */
}
#column1 img {
  width: 100px;
  height: auto;
  margin: auto;
  border: 1px solid red;
}
#column2 {
  float: right;
  width: 73%;
}
#column2 .list {
  list-style-type: none;
  float: left;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
#column2 .gallery-title {
  text-align: center;
}
#column2 img {
  width: 25%;
  height: auto;
  box-shadow: 5% 5% 2.5% #aaaaaa
}

#column2 .list {
  list-style-type: none;
  display: block;
  margin: 0 auto;
}
#column2 .list li {
  display: inline;
  padding-right: 15px;
  padding-top: 15px;
}
#column2 .list li a {
  display: inline;
  text-decoration: none;
  vertical-align: top;
}


@media only screen and (max-width: 720px) {
    /* For mobile phones: */
    #column1 {width: 100%}
    #column2 {width: 100%}
    #column2 img {width: 50%}
}

#footer {
  width: 90%;
  border-top: 1px solid black;
  margin-top: 5%;
  padding-top: 5%x;

}
